*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background: rgba(211, 210, 210, 0.548);
}